certifi
charset-normalizer
click
colorama==0.4.4
cycler
et-xmlfile
Flask
idna
importlib-metadata
intel-openmp
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
# mkl==2021.3.0
numpy
olefile
openpyxl
packaging
pandas
pandas-ta
Pillow
# pkg-resources
pyparsing
python-dateutil
pytz
requests
scikit-learn
scipy
six
# TA-Lib
ta-lib
tbb
threadpoolctl
toml
tornado
typing-extensions
urllib3
Werkzeug
wincertstore
xlrd
zipp